* {margin: 0; padding: 0; box-sizing: 0;}
body {min-height: 100vh; -ms-overflow-style: none;}
::-webkit-scrollbar {display: none;}

.header {display: flex; justify-content: center; align-items: center; width: 100%; height: 58px; background-color: #1f1f1f; border-bottom: 1.5px solid #2e2e2e;}
.headerItems {display: flex; justify-content: center; align-items: center; width: 300px; height: 100%;}
.homeBtn {margin-right: 13px; background-color: transparent; border: none; opacity: 0.44;}
.homeBtn:hover {opacity: 0.3;}
.homeBtn:active {opacity: 0.1;}
.headerSearch {display: flex; justify-content: center; align-items: center; width: 100%; height: 60%; border: 1.6px solid #3c3c3c; border-radius: 18px;}
.searchBtn {margin-top: 2.5px; background-color: transparent; border: none; opacity: 0.7;}
.searchBtn:hover {opacity: 0.4;}
.searchBtn:active {opacity: 0.2;}
.headerInput {width: 80%; height: 56%; background: transparent; border: none; outline: none; font-size: 13px; color: rgb(164, 164, 164); text-align: center; cursor: grab;}

.main {display: flex; width: 100%; background-color: #1f1f1f;}

.mainLibraryFrame {display: flex; justify-content: center; align-items: center; width: 110px; height: 100%; background-color: #1f1f1f;}
.mainLibrary {width: 70px; height: 96%; background-color: #2e2e2e; border-radius: 12px; margin: 0 20px;}

.mainContentFrame {display: flex; justify-content: center; align-items: center; height: 100%; min-width: 200px;}
.mainContent {width: 100%; height: 96%; background-color: #2e2e2e; border-radius: 16px; overflow: scroll;}
.mainContentMargin {margin: 0 10px 0 10px; width: 96%; height: 100%; color: white;}

.recommendationsHeader {width: 100%; height: 30px;}
.recommendations {width: 100%; height: 240px;}
.recommendationTitle {display: flex; flex-direction: column-reverse; width: 100%; height: 45px; padding-left: 10px; color: #F2F2F2; font-size: 17px; font-weight: 400; letter-spacing: 0.2px; opacity: 0.8;}
.recommendationContents {display: flex; width: 100%; height: 195px; overflow: auto; -ms-overflow-style: none; gap: 16px; overflow-x: scroll; scroll-behavior: smooth;}
.recommendationContent {position: relative; width: 150px; height: 100%; border-radius: 15px; opacity: 0.9; cursor: pointer; padding: 0 10px; /* 카드 간 간격 */ transition: transform 0.3s ease;}
.recommendationContent:hover {background-color: rgba(60,60,60,0.8);}
.recommendationLike{position: absolute; width: 30px; height: 30px; top: 100px; left: 10px; background: transparent;}
.recommendationLike:hover{opacity: 0.7;}
.recommendationLike:active{opacity: 0.6;}
.recommendationPlay{position: absolute; width: 30px; height: 30px; top: 100px; right: 10px; background: transparent;}
.recommendationPlay:hover{opacity: 0.7;}
.recommendationPlay:active{opacity: 0.6;}
.recommendationLike,
.recommendationPlay {opacity: 0; transition: all 0.3s ease;}
.recommendationContent:hover .recommendationLike,
.recommendationContent:hover .recommendationPlay {opacity: 1; cursor: pointer;}
.recommendationCover {display: flex; justify-content: center; align-items: center; width: 100%; height: 155px;}
/* CSS로 recommendationContents를 가로 스크롤 가능하게 설정 */
.recommendationWrapper {display: flex; align-items: center; position: relative;}
.recommendationContents {display: flex; overflow: hidden; width: 100%; scroll-behavior: smooth;}
.slideButton {cursor: pointer; position: absolute; z-index: 1; transition: opacity 0.3s ease; border: 0; background-color: transparent; transform: translateY(-50%);}
.slideButton.left {left: 0;}
.slideButton.right {right: 0;}
.slideButton.hidden {opacity: 0; pointer-events: none; /* 클릭 불가 */}

.recommendationInfo {width: 100%; height: 40px; padding: 0 12px; color: #FFFFFF;}
.trackName {font-size: 12px; font-weight: 400; letter-spacing: 0.4px; opacity: 0.8;}
.artistName {font-size: 11px; font-weight: 200; letter-spacing: 0.4px; opacity: 0.8;}

.mainDetailFrame {display: flex; justify-content: center; align-items: center; width: 2%; height: 100%;}

.footer {width: 100%; height: 10px; background-color: #1f1f1f;}

.mainLibraryFrame {display: flex; justify-content: center; align-items: center; width: 100px; min-width: 100px; height: 100%; background-color: #1f1f1f; transition: width 0.5s ease;}
.mainLibraryFrame.expanded {width: 240px; max-width: 240px;}
.mainLibrary {display: flex; justify-content: center; width: 72%; height: 96%; background-color: #2e2e2e; border-radius: 12px; transition: width 0.5s ease;}
.mainLibraryFrame.expanded .mainLibrary {width: 88%;}
.libraryBtn {height: 22px; fill: #9f9f9f; margin-top: 15px;}
.libraryBtn:hover {opacity: 0.8; cursor: grab;}
.libraryBtn:active {opacity: 0.6; cursor: grab;}

.trackDetail{margin-left: 5px;}
.trackDetailContainer{display: flex; gap: 20px; color: white; align-items: end;}

#trackName.small-font {font-size: 2rem; /* 글자가 길 때 작은 폰트 */}
#trackName.medium-font {font-size: 4rem; /* 글자가 중간 정도 길 때 중간 폰트 */}
#trackName.large-font {font-size: 5.5rem; /* 글자가 짧을 때 큰 폰트 */}

.lyrics{color: white; margin-top: 20px; overflow: scroll;}
.lyrics h3{font-size: 1.5rem;}
.lyrics pre{max-height: 160px; margin-top: 15px; font-family: 'Noto Sans', sans-serif; line-height: 1.5;}

.searchResults{display: flex; overflow-x: auto; scroll-behavior: smooth; gap: 15px;}
.searchResults .searchResult{width: fit-content; flex: 1 1 20%; padding: 10px;}
.searchResult {position: relative; width: 150px; height: 100%; border-radius: 15px; opacity: 0.9; cursor: pointer; padding: 0 10px; /* 카드 간 간격 */ transition: transform 0.3s ease;}
.searchResult:hover {background-color: rgba(60,60,60,0.8);}

.resultContainer{position: relative;}
.resultContainerTitle {display: flex; flex-direction: column-reverse; width: 100%; height: 45px; padding: 0 0 8px 10px; color: #F2F2F2; font-size: 17px; font-weight: 400; letter-spacing: 0.2px; opacity: 0.8;}

.searchSlideButton {cursor: pointer; position: absolute; z-index: 1; transition: opacity 0.3s ease; border: 0; background-color: transparent; transform: translateY(-50%); top: 50%;}
.searchSlideButton.left {left: 0;}
.searchSlideButton.right {right: 0;}
.searchSlideButton.hidden {opacity: 0; pointer-events: none; /* 클릭 불가 */}

.searchInfo{padding: 12px;}
.searchInfo .trackName,
.searchInfo .artistName{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 95px;}

.searchCover:hover {opacity: 0.6; cursor: grab;}
.searchCover:active {opacity: 0.4; cursor: grab;}
