* {margin: 0; padding: 0; box-sizing: 0;}
body {min-height: 100vh;}
::-webkit-scrollbar {display: none;}

.flexCenter {display: flex; justify-content: center; align-items: center;}

.header {position: relative; display: flex; justify-content: space-between; width: 100%; height: 80px; background-color: #fcfcfc; border-bottom: 1.5px solid #E2E2E2;}
.headerItems {width: 200px;}
#headerLogo:hover {cursor: grab;}
#headerContents {display: flex;}
#headerAlarm {position: relative; width: 47%;}
#headerAlarm:hover {opacity: 0.6; cursor: grab;}
#headerAlarm:active {background-color: #efefef; opacity: 0.4; cursor: grab;}
#header-noti-count {position: absolute; right: 8px; bottom: 8px; width: 18px; height: 18px; border: 1.5px solid #B2B2B2; border-radius: 50%;}
#header-noti-count-font {font-size: 11.5px; font-weight: 400; letter-spacing: 0.3px; opacity: 0.4;}
#headerProfile {width: 47%;}
#headerMargin {width: 15%;}
#profile {width: 60px; height: 60px; border: 3.5px solid #E2E2E2; border-radius: 50%;}
#profile:hover {cursor: grab;}
#adminRedirect {width: 45px; height: 45px; margin-right: 60px; opacity: 0.8;}
#adminRedirect:hover {opacity: 0.6; cursor: grab;}
#adminRedirect:active {opacity: 0.4; cursor: grab;}

.headerMenu-wrap {position: absolute; width: 100%; height: 100%; background: rgba(252,252,252,0.2);}
.headerMenu-containers {position: absolute; right: 0px; width: 350px; height: 300px;}
.headerMenu-container {position: absolute; right: 0px; background-color: #ffffff; border-left: 2px solid #E2E2E2; border-right: 2px solid #E2E2E2; border-bottom: 2px solid #E2E2E2; border-bottom-left-radius: 6%; border-bottom-right-radius: 6%;}
.header-contents {position: relative; width: 100%; height: 55px; border-bottom: 0.5px solid #E2E2E2;}
.header-contents:hover {background-color: #E2E2E2; opacity: 0.6; cursor: grab;}
.header-contents:active {background-color: #E2E2E2; opacity: 0.4; cursor: grab;}
.header-alarm-content {font-size: 14px; font-weight: 400; letter-spacing: 0.6px; opacity: 0.6;}
.header-profile-content {font-size: 13px; font-weight: 400; letter-spacing: 0.5px; opacity: 0.6;}
.header-nick-content {font-size: 14px; font-weight: 600; letter-spacing: 0.3px; opacity: 0.7;}
.header-expanded-content {width: 100%; height: 150px; border-bottom: 0.5px solid #E2E2E2; overflow: auto; -ms-overflow-style: none;}
.header-notification {position: relative; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 55px;}
.header-notification:hover {background-color: #E2E2E2; opacity: 0.6;}
.header-notification:active {background-color: #E2E2E2; opacity: 0.4;}
.header-notification-content {line-height: 16px; font-size: 12px; font-weight: 200; letter-spacing: 0.4px; opacity: 0.6; user-select: none;}
.header-noti-menu-counts {position: absolute; right: 22px; font-size: 12px; font-weight: 400; letter-spacing: 0.5px; opacity: 0.3;}
.hearder-delete-noti {position: absolute; right: 10px; width: 10px; height: 10px; font-size: 13px; font-weight: 400; opacity: 0.4;}
.hearder-delete-noti:hover {opacity: 0.6; cursor: grab;}
.hearder-delete-noti:active {opacity: 0.4; cursor: grab;}
.hearder-follow-noti {display: flex; justify-content: space-between; align-items: center; width: 100%; margin-top: 1.5px; font-size: 11px; font-weight: 600; opacity: 0.4; user-select: none;}
.header-follow-select:hover {opacity: 0.6; cursor: grab;}
.header-follow-select:active {opacity: 0.4; cursor: grab;}
#headerMenu-alarm {width: 90%; height: 100%; overflow: auto; -ms-overflow-style: none;}
#headerMenu-profile {width: 78%; height: 225px;}

.main {position: relative; display: flex; width: 100%; background-color: #fcfcfc;}
.mainItems {width: 50%;}
.frame {position: relative; width: 94%; height: 94%; border: none; border-radius: 30px;}

.menu-style {background-image: linear-gradient(to bottom, #ffffff, #fcfcfc);}
.menuBtn {position: absolute; bottom: 22.5px; left: 50%; transform: translate(-50%,0%); width: 55px; height: 55px; border-radius: 50%; opacity: 0.8;}
.menuBtn:hover {opacity: 0.7; cursor: grab;}
.menuBtn:active {opacity: 0.6; cursor: grab;}
.menuBtn-square {width: 12px; height: 12px; border: 1px solid #cdcdcd; border-radius: 20%;}
.menuDock {position: absolute; bottom: 19px; left: 50%; transform: translate(-50%,0%); width: 350px; height: 62px; border-radius: 20px; opacity: 0.7;}
.menuDock-icon {opacity: 0.5; margin: 0 11px;}
.menuDock-icon:hover {opacity: 0.4; cursor: grab;}
.menuDock-icon:active {opacity: 0.3; cursor: grab;}

.footer {position: relative; width: 100%; height: 70px;}
.player {display: flex; justify-content: space-between; width: 99%; height: 100%; border: 1.8px solid #E2E2E2; border-radius: 20px;}
.playerComponent {width: 15%; height: 100%;}
.footerMargin {width: 100%; height: 10px;}
#playerLeft {display: flex; align-items: center; margin-left: 30px;}
#playerRight {display: flex; flex-direction: row-reverse; align-items: center; margin-right: 20px;}

.playerRightStyle {display: flex; flex-direction: column; justify-content: center; margin: 0 15px;}
.playerTrackName {font-size: 12px; font-weight: 400; letter-spacing: 0.4px; opacity: 0.8;}
.playerArtistName {font-size: 11px; font-weight: 200; letter-spacing: 0.4px; opacity: 0.8;}
.playerInfo:hover {opacity: 0.6; cursor: grab;}
.playerInfo:active {opacity: 0.4; cursor: grab;}
.playerImg {border-radius: 50%;}
.playerImg:hover {cursor: grab;}
.playerImg:active {opacity: 0.3; cursor: grab;}
.playerBtn {background-color: transparent; border: none; margin: 0 20px;}
.playerBtn:hover {opacity: 0.8;}
.playerBtn:active {opacity: 0.6;}
.playerRightMargin {margin: 0 15px;}

.player-bar-container {display: flex; align-items: center; width: 100%; border-radius: 20px;}
.playerTime {font-size: 10px; font-weight: 200; letter-spacing: 0.4px; opacity: 0.7;}
.volume-bar-container {display: flex; align-items: center; width: 80px; margin-right: 15px;}

input[type=range] {width:100%; -webkit-appearance: none; background: transparent;}
input[type=range]:focus::-webkit-slider-runnable-track {background: transparent;}
input[type=range]:focus {outline: none;}
.player-bar {margin-left: 5px; margin-right: 5px; border-radius: 2px;}
.player-bar::-webkit-slider-thumb {-webkit-appearance: none; background: #ffffff; cursor: pointer; border: 1px solid #e2e2e2; border-radius: 50%; width: 7px; height: 4px; margin-top: -0.26px;}
.player-bar::-webkit-slider-thumb:hover {width: 12px; height: 12px; margin-top: -3.6px;}
.player-bar::-webkit-slider-runnable-track {width: 100%; height: 4.5px; cursor: pointer; background: transparent; border-radius: 4px;}
.volume-bar {border-radius: 12px;}
.volume-bar::-webkit-slider-thumb {-webkit-appearance: none; background: #ffffff; cursor: pointer; border: 1px solid #e2e2e2; border-radius: 50%; width: 7px; height: 5.5px; margin-top: -0.25px;}
.volume-bar::-webkit-slider-thumb:hover {width: 12px; height: 12px; margin-top: -3.7px;}
.volume-bar::-webkit-slider-runnable-track {width: 80px; height: 5.5px; cursor: pointer; background: transparent; border-radius: 4px;}

.playerPlaylistContainer {position: absolute; bottom: 85px; right: 10px; width: 360px; height: 410px; border: 1.8px solid #E2E2E2; border-radius: 10px; background-color: #ffffff; overflow: auto; -ms-overflow-style: none;}
.playlistBody {position: relative; display: flex; flex-direction: column;}
.playlist-delete {position: absolute; right: 15px; top: 10px; font-size: 25px; font-weight: 200; letter-spacing: 0.4px; opacity: 0.7;}
.playlist-delete:hover {opacity: 0.5; cursor: grab;}
.playlist-delete:active {opacity: 0.3; cursor: grab;}
.playlist-header {width: 100%; height: 55px; margin-bottom: 10px; border-bottom: 0.5px solid #E2E2E2; font-size: 14px; font-weight: 400; letter-spacing: 0.6px; opacity: 0.6;}
.playlist-contents {display: grid; grid-template-columns: 15% 85%; width: 90%; height: 55px; margin-left: 18px; padding: 5px 0 5px 0; border-radius: 10px;}
.playlist-contents:hover {background-color: #E2E2E2;}
.playlist-contents:active {background-color: #E2E2E2;}
.playlist-font {font-size: 15px; font-weight: 300; letter-spacing: 0.4px; opacity: 0.7;}

.menuTransition-enter-active, .menuTransition-leave-active {transition: opacity 0.5s ease;}
.menuTransition-enter-from, .menuTransition-leave-to {opacity: 0;}

.playerTrackName{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 110px;}