body{
	background-color: #f0f0f0;
}

.mainContent {
	display:flex;
	position: relative;
	flex-direction: row;
	flex-grow: 1;
    margin: 0;
    padding: 0;
    height: 100%;
	width: 100%;
    min-width: 800px;
}
#memo{
	width:500px;
	/* height:88vh; */
	height: 85.5vh;
	border-radius: 10px;
	background-color: white;
	padding: 10px;
	text-align: center;
	color: white;
	background-color: #293846;
	box-sizing: border-box;
	margin: 30px auto 10px auto;
}
#memo textarea{
	border: none;
	/* resize: none; */
	width:450px;
	height:75vh;
	border-radius: 10px;
	padding:5px;
	outline: none;
	font-size:20px;
	overflow-y: auto;
	resize: none;
}
.blockContainer{
	display: flex;
	flex-direction: column;
	gap: 45px;
	margin: 30px 30px 0 40px;
	padding: 0;
	align-items: flex-start;
	width: 1100px;
}
.blockContainer p{
	margin: 0;
	padding: 20px 0 0 0;
	cursor: pointer;
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	letter-spacing: 0.4px;
	opacity: 0.8;
}
.divStep{
	display: flex;
	flex-direction: row;
	gap: 30px;
	width: 1100px;
	margin: 0;
	padding: 0;
}
.block{
	display: flex;
	font-size: 25px;
	border-radius: 10px;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	flex-direction: column;
}
.block div{
	margin: auto;
	padding: 0 0 20px 0;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.4px;
	line-height: 30px;
	opacity: 0.8;
}
#block1{
	width:290px;
	height: 190px;
}

#block2{
	width:190px;
	height: 190px;
}
#block3{
	width:190px;
	height: 190px;
}
#block4{
	width:190px;
	height: 190px;
}
#block5{
	width:400px;
	height: 190px;
}
.block5-name{
	height:50px;
}
#block5 a{
	color: black;
	text-decoration: none;
}
#noticce{
	margin: 0 auto;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.4px;
	line-height: 30px;
	opacity: 0.8;
}
#block6{
	width:270px;
	height: 190px;
}
#block7{
	width:500px;
	height: 190px;
}
#block8{
	width:1100px;
	height: 360px;
}
#block8 canvas{
	width:1050px;
	height: 300px;
}
