.adminSubBar {
	display: flex;
    width: 200px;
    font-size: 20px;
    height:auto;
    min-width: 200px;
    /* border-right: 1px solid #ccc; */
}

.adminSubBar ul {
	display: flex;
	flex-direction: column;
	gap: 30px;
    list-style: none;
    margin: 0;
    padding: 40px 15px 0 15px;
    width: 200px;
}

.adminSubBar ul li {
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid rgb(208, 208, 208);
    border-bottom: 1px solid rgb(208, 208, 208);
}

.adminSubBar a {
    text-decoration: none;
    color: gray;
}

.adminSubBar a:hover {
    color: #333;
    font-weight: bold;
}