
.content {
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    background-color: white;
    margin-left:5%;
    margin-top: 40px;
    /* padding: 20px; */
    height: 100%;
    min-width: 800px;
}

.accountSearch{
	display: flex;
	margin: 0 0 0 350px;
}
.pagination-disabled {
    pointer-events: none;
    color: gray;
}

.pagination-active {
    color: red;
    font-weight: bold;
}


#add{
	
	text-decoration: none;
	color: #333;
	font-size: 20px;
	margin-left: 200px;
	width:70px;
}



table {
	margin: 20px 0;
    width: 1200px;
    border-collapse: collapse;
    
}
tr {
	border-bottom: 1px solid #999;
}
th, td {
    padding: 10px;
    text-align: center;
}
tfoot{
	margin-left: auto;
    margin-right: auto;
    
}
tfoot tr, tfoot td {
    border-bottom: none;
    
    
}
