
.content {
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
    background-color: white;
    margin: 40px 0 0 0;
    padding: 0 80px 0 0;
    /* padding: 20px; */
    height: 100%;
    min-width: 600px;
}

.accountSearch{
	display: flex;
	margin: 30px 0;
}
.pagination-disabled {
    pointer-events: none;
    color: gray;
}

.pagination-active {
    color: red;
    font-weight: bold;
}


#add{
	
	text-decoration: none;
	color: #333;
	font-size: 20px;
	margin-left: 200px;
	width:70px;
}



table {
	margin: 20px 0;
    width: 1200px;
    border-collapse: collapse;
    
}
table button {
	font-size: 1em;
	padding:4px 10px;
	border-radius: 3px;
	border: 0.5px solid #999;
	cursor: pointer;
	color: rgb(48, 48, 48);
	background-color: #eee;
}
tr {
	border-bottom: 1px solid #999;
}
th, td {
    padding: 10px;
    text-align: center;
}
tfoot{
}
tfoot tr, tfoot td {
	padding: 80px 0 0 0;
    border-bottom: none;
}
tfoot a, tfoot span{
	margin: 0 10px;
	padding: 0;
	color: gray;
	text-decoration: none;
}
.addWriting {
	width: 1200px;
	text-align: right;
	margin: 0;
	padding: 10px 0;
}
.addWriting a{
	text-decoration: none;
	color: darkslategray;
	font-weight: 600;
}
#searchBtn {
	margin-right: 20px;
}
