.officialAddForm {
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    background-color: white;
    margin-left:390px;
    padding: 20px;
    height: 100%;
    min-width: 800px;
}

textarea {
	resize: none;
}


.content {
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    background-color: white;
    margin-left:5%;
    margin-top: 40px;
    /* padding: 20px; */
    height: 100%;
    min-width: 800px;
}


table {
	margin: 20px 0;
    width: 800px;
    border-collapse: collapse;
    
}
tr {
	border-bottom: 1px solid #999;
}
th, td {
    padding: 10px;
    text-align: center;
}
.userInfo {
	table-layout: fixed;
    border-collapse: collapse;
    border-top: 1px solid #999;
}

.userInfo td img {
    border: 1px solid #999;
    padding: 5px;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
    object-fit: cover;
}

.proImg img {
    width: auto;
    height: auto;
    object-fit: cover;
    
}

#commentList {
	margin-bottom: 50px;
}
