.officialAddForm {
	display:flex;
	flex-direction: column;
	flex-grow: 1;
    background-color: white;
    margin-left:390px;
    padding: 20px;
    height: 100%;
    min-width: 800px;
}

textarea {
	resize: none;
}